{%extends 'base.html'%}

{%block content%}
<div class="blockcontent">
<div class="fscont">
{%for j in offers%}
<div class="prod">
<div class="pic"><img src="{{ url_for('static', filename='images/prod/'+ j.pname+'.jpeg') }}" alt="product img"></div>
<div class="name">{{j.pname}}</div>
<div class="paq">
    {{j.qty}}
    {{j.unit}}
</div>
{%if j.offer>0 and j.stock>0%}
<div class="price"><s>Rs. {{j.price}}</s></div>
<div class="op">Offer Price : Rs. {{j.price*(1-j.offer/100)}}</div> 
{%else%}
<div class="price">Rs. {{j.price}}</div>
{%endif%}
{%if current_user.is_authenticated%}
{% if j.stock>0 and current_user.role=="User"%}
<div class="atc">
    <div class="button1">
    <form action="{{ url_for('modifycart', prodid=j.id) }}" method="post">
        <button class="btn" type="submit" name="action" value="add">
            <i class="bi bi-plus"></i>
        </button>
    </form>
    </div>
    <div class="button2">
    <form action="{{ url_for('modifycart', prodid=j.id) }}" method="post">
        <button class="btn" type="submit" name="action" value="remove">
            <i class="bi bi-dash"></i>
        </button>
    </form>
    </div>
    {%if j.id in d and d[j.id]%}
    <div class="qty">{{ d[j.id]}}</div>
    {%endif%}
</div>
{% elif j.stock<=0 and current_user.role=="User"%}
    <div class="oof"><strong>out of stock!</strong></div>
    {%elif current_user.role=='manager'%}
    {%if j.stock<=0%}
    <div class="oof"><strong>out of stock!</strong></div>
    {%endif%}
            
            <a href="{{ url_for('managecat', prodname=j.pname,qty=j.qty,unit=j.unit,price=j.price,stock=j.stock,cat=ocn[j.id],offer=j.offer) }}">
                <button class="btn btn-block-lg btn-primary">
                    edit
                </button>
            </a>
    
    {%endif%}    
    {%else%} 
       {%if j.stock<=0%}
        <div class="oof"><strong>out of stock!</strong></div>
       {%endif%}   
    {%endif%}  
    </div>
    {%endfor%}
</div>
{%endblock%}